* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 2em 0;
}

h1 + p {
  color: #F18119;
  font-weight: 900;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
}

h2 + p {
  color: #F18119;
  font-weight: 900;
  font-size: 1rem;
  margin-top: 0;
  text-transform: uppercase;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #F18119;
  text-transform: uppercase;
  order: -1;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

strong {
  font-weight: 900;
}

.intro {
  background-color: #404040;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(../images/bbq-ribs.jpeg);
  background-size: cover;
  background-position: center;
  padding: 0 .5em 2em;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 2em 1em;
}

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh; 
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

